.post {
   display: flex;
   padding: .2rem;
}
#messageForm{
   outline: 0;
   -webkit-appearance: none;
}
.nav-bar {
   position: fixed;
   width: 100%;
   z-index: 1000;
   top: 0;
}
.mobile-nav {
   z-index: 1000;
}
.home {
   overflow: hidden;
   height: 100vh;
   width: 100%;
   padding-top: 64px;
   padding-bottom: 48px;
}

.messages-list {
   height: calc(100vh - 112px);
   width: 100%;
   overflow-y: scroll;
}
.users_container {
   height: calc(100vh - 112px);
   overflow-y: scroll;
   width: 100%;
}
.message__user-info {
   display: flex;
}
.content__word-length {
   margin: 0;
}
.post__text {
   font-size: .8rem;
}
.post__username {
   color: #304ffe;
   margin: 0 0 .6em;
}
.user-card {
   padding: 13px;
}
.user-card__avatar {
   margin: 0;
}
.user-card__content {
   margin: 0;
}
.user-card__content h4 {
   color: #304ffe;
}
.mobile-nav {
   background: #fff;
}
.post__social {
   font-size: 13px;
}
.overflow-hidden {
   overflow-y: hidden;
}
.overflow-scroll {
   overflow-y: scroll;
}
