.thin__italics {
   font-weight: 300 !important;
   font-style: italic;
}
.post__time{
   margin: .4em 0;
}

.flex {
   display: flex;
}
.center {
   justify-content: center;
}
input {
   box-shadow: none !important;
   color: blue;
}

input :focus {
   box-shadow: none !important;
}
